* {
    margin: 0;
    padding: 0;
}

.section {
    height: 100vh;
    background-color: rgb(62, 62, 62);
}

.content {
    width: 80rem/85rem * 100%;
    max-width: 85rem;
}

.slider{
    width: 80rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slides{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    max-height: 80vh;
    overflow: hidden;
    margin: 1rem 0 0 12rem;
}

.slider-images {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all .6s ease;
}

.slide{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.slide img{
    width: auto;
    height: 100%;
    border-radius: 0.7rem;
}

.position {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 12rem;
}

.caption {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.type {
    color: white;
    transition: all .6s ease;
}

.navigation{
    display: flex;
    gap: 0.5rem;
}

.bar-size {
    width: 1rem;
    height: 3rem;
}

.bar{
    display: flex;
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    background-color: aqua;
    border-radius: 1rem;
    transition: all .4s ease;
    border: solid 0.1rem aqua;
}

.bar:hover{
    background-color: white;
    border: solid 0.1rem white;
}

input[name="r"] {
    visibility: hidden;
}

body:has(#r1:checked) .slider-images {
    transform: translateX(0);
}

body:has(#r2:checked) .slider-images {
    transform: translateX(-80vw);
}

body:has(#r3:checked) .slider-images {
    transform: translateX(-160vw);
}

body:has(#r4:checked) .slider-images {
    transform: translateX(-240vw);
}

body:has(#r1:checked) .caption_1{
    transform: translateY(0);
}

body:has(#r2:checked) .caption_2 {
    transform: translateY(-1rem);
}

body:has(#r3:checked) .caption_3 {
    transform: translateY(-3.5rem);
}

body:has(#r4:checked) .caption_4 {
    transform: translateY(-4.5rem);
}

body:has(#r1:checked) .bar_1 {
    background-color: rgb(62, 62, 62);
}

body:has(#r2:checked) .bar_2 {
    background-color: rgb(62, 62, 62);
}

body:has(#r3:checked) .bar_3 {
    background-color: rgb(62, 62, 62);
}

body:has(#r4:checked) .bar_4 {
    background-color: rgb(62, 62, 62);
}